<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/saved">Saved<span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/gadgets">Gadgets</a></li>
            <li><a href="/enterprise">Enterprise</a></li>
            <li><a href="/social">Social</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <li><a href="/about">About Technews</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <img class="img-responsive" id="headimg" src="/assets/img/tech7.jpg">
</div>
<div class="container">
  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="commentsModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center" id="gridSystemModalLabel">Comments</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12" id="commentdiv">
          <ul id="commentlist">
          </ul>
          <form role="form" id="commentform">
          <div class="form-group">
          <label for="commentsection"></label>
          <input type="textarea" class="form-control" placeholder="Add comments..">
          </div>
        <div class="text-center" id="submitdiv">
          <button type="submit" class="btn btn-secondary btn-sm submit" id="submitbtn">Submit</button>
        </div>
      </form>
 
          </div>
        </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
</div>

  <div class="container-fluid">      
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
      <ul class="media-list">
        {{#each newsitems}}
        <li class="media">
        <div class="media-left media-middle">
          <a href="{{this.url}}">
          <img class="media-object" src="{{this.imageUrl}}">
          </a>
        </div>
    <div class="media-body">
      <h4 class="media-heading"><a href="{{this.url}}">{{this.title}}</a></h4>
      <p>{{this.info}}</p>
      <p>Posted at: {{this.postedTime}} by <a href="{{this.authorlink}}">{{this.authorName}}</a></p>
      <div class="pull-right btndiv">
      <button type="button" class="btn btn-info btn-sm commentbtn" data-id="{{this._id}}">Comments</button>
      <button type="button" class="btn btn-danger btn-sm deletebtn" data-id="{{this._id}}">Delete</button>
    </div>
    </div>
    <hr/>   
    </li>
  {{/each}}
</ul>
</div>
</div>
</div>
<footer class="footer">
  <div class="container text-center">
    <p>Copyright@2017</p>
  </div>
</footer>
<script src="/assets/js/app.js"></script>